<nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="position:relative" >
                    <img src="images/website-logo-128.png" alt="" height="70" width="70" style="position: absolute; top: 5px"></img>
                </a>
                   <a class="navbar-center-brand" href="index.html">Vulcan Robotics <small><small><small>FTC 8375</small></small></small></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="our-team.html">Our Team</a>
                    </li>
                    <li>
                      <a href="apply.html">Apply</a>
                    </li>
                    <li>
                    	<a href="sponsors.html">Sponsors</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Seasons <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="2017-2018.html">2017/2018<br>Relic Recovery</a></li>
                            <li><a href="2017-Off-Season.html">2017 Off-Season</a></li>
                            <li><a href="2016-2017.html">2016/2017<br>Velocity Vortex</a></li>
                            <li><a href="2015-2016.html">2015/2016<br>FIRST RES-Q</a></li>
                            <li><a href="http://vulcanrobotics.org/off-season/">2015 Off-Season</a></li>
                            <li><a href="2014-2015.html">2014/2015<br>Cascade Effect</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<script type="text/javascript">
    // $('#bs-example-navbar-collapse-1 a').each(function(){
    //     console.log(this.href);
    //     if(this.href==document.URL){
    //         this.className= 'active';
    //     }
    // });
    $('.dropdown-menu a').each(function(){
        console.log(this.href);
        if(this.href==document.URL){
            this.className='';
        }
    });

</script>
